# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pot
*.pyc
db.sqlite3
media/

# Env files
.env
venv/
env/

# IDE/Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Node / React (if stored in same repo)
node_modules/
dist/
build/
